p
{
  color: yellow;
  text-align: center;
  font-size: 30px;
  
}


h2
{
  color: red;
  text-align: center;
  font-size: 50px;
}
h1
{
  color: blue;
  text-align: center;
  font-size: 150px;
}
p.border
{
  border-style: dotted;
  border-width: 2px;
  border-color: blue;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 30px;
  padding-left: 30px;
}
body
{
background-image: url("bg.jpg");
background-attachment: fixed;
background-size: cover;

}
